
ul {
    width: 480px;
    height: 360px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

li {
    float: left;
    list-style-type: none;
    position: relative;
}

li>div {
    height: 300px;
    width: 60px;
    background: rgba(255, 255, 255, .3);
    border: 1px solid;
    border-color: rgba(0, 0, 0, .8);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
    box-shadow:
        /*inset  3px 0  10px  #c9c6c6,*/
        inset 5px -8px0#00000023;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

li:not(:last-child)>div {
    border-right: none;
}

li>div:hover {
    background: rgb(255, 97, 97);

}

/* 當白鍵按下時的樣式 */
.white_active {
    box-shadow: inset 3px -2px0#00000036;
    background: linear-gradient(45deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .5));
}

li>p {
    height: 150px;
    width: 40px;
    background-color: #000;
    border-bottom-left-radius: 5.5px;
    border-bottom-right-radius: 5.5px;
    box-shadow: inset 5px -7px0#2c2c2c;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 999;
}

li>p:hover {
    background: linear-gradient(45deg, #4c4c4c, #444444);
}

/* 當黑鍵按下時的樣式 */
.black_active {
    box-shadow: inset 3px -5px0#2c2c2c;
}
